<div class="top-container">
  <div class="title2"> <%= @article.title %> </div>
  <div>
    <%= link_to edit_article_path(@article) do %>
      <%= content_tag :button, "Edit", class: "edit-btn" %>
    <% end %>
    <%= link_to article_path, method: :delete, data: {confirm: "Are you sure?"} do %>
      <%= content_tag :button, "Delete", class: "delete-btn" %>
    <% end %>
  </div>
</div>

<% if @article.created_at == @article.updated_at %>
  <div class="timestamp">Published: <%= @article.created_at.strftime('%-I:%M %p %d %B %Y') %></div>
<% else %>
  <div class="timestamp">
    <p>Published: <%= @article.created_at.strftime('%-I:%M %p %d %B %Y')  %></p>
    <p>Updated: <%= @article.updated_at.strftime('%-I:%M %p %d %B %Y')  %></p>
  </div>
<% end %>



<div class="article-body"><%= @article.body %></div>

<h2 class="coments">Comentarios</h2>
<% if @article.comments.present? %>
  <%= render @article.comments %>
<% else %>
  <div><em>Ainda não temos comentarios cadastrados.</em></div>
<% end %>

<h2 class="add-coments">Adicionar comentario:</h2>
<%= render 'comments/form' %>
